.messageWindow {
    margin: 10px 10px 0px 10px;
    border: 5px solid #C390D4;
    height: 580px;
    overflow-x: hidden;
    overflow-y: auto;
}

.messageList {
    list-style-type: none;
    padding-left:0px;
}

.inputForm {
    float: left;
    width: 100%;
    margin: 10px;
    border: 5px solid #C390D4;
    height: 30px;

}
