.chat {
    background-color: #A1D490;
    height: 90px;
    align-items: center;
    border: 5px solid #8AB57B;
    margin: 10px;
    min-width: 230px;
}

.chat:hover {
    background-color: #8AB57B;
}

.chatListWindow {
    background-color: #A1D490;
}

.chatList {
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    height: 600px;
}

.friendAvatar {
    height:inherit;
}

.chatID {
    position:relative;
    bottom:5%;
}
