.bodyContainer {
    width: 100%;
}

.chatWindowContainer {
    width: 60%;
    float: left;
}

.friendListContainer {
    width: 20%;
    float: left;
}

.onlineUsersContainer {
    width: 20%;
    float: right;
}
.bottomButtons {
    position: absolute;
    bottom: 20px;
}
