.bodyContainer {
    width: 1000px;
}

.chatWindowContainer {
    width: 75%;
    float: right;
}

.friendListContainer {
    width: 25%;
    float: left;
}

.bottomButtons {
    position: absolute;
    bottom: 20px;
}
